<div class="container">
    <center>
        <h3>Lista de estudiantes</h3>
    </center>
    <div class="row">
        <center><a href="/estudiantes/agregar" class="btn btn-success">Registrar</a></center>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h5>Id</h5>
        </div>
        <div class="col-sm-2">
            <h5>Nombre</h5>
        </div>
        <div class="col-sm-2">
            <h5>Edad</h5>
        </div>
        <div class="col-sm-2">
            <h5>Email</h5>
        </div>
        <div class="col-sm-2">
            <h5>Accion</h5>
        </div>
        <div class="col-sm-2">
            <h5>Accion</h5>
        </div>
    </div>
    {{#each ConsultaEstudiante}}
    <div class="row">
        <div class="col-sm-2">
            {{id_estudiante}}
        </div>
        <div class="col-sm-2">
            {{nombre}}
        </div>
        <div class="col-sm-2">
            {{edad}}
        </div>
        <div class="col-sm-2">
            {{correo}}
        </div>
        <div class="col-sm-2">
            <!-- Button trigger modal -->
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modalModificar{{id_estudiante}}">Modificar</button>
        </div>
        <div class="col-sm-2">
            <!-- Button trigger modal -->
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalEliminar{{id_estudiante}}">Eliminar</button>
        </div>
    </div>
    <!-- Modal Modificar-->
    <div class="modal fade" id="modalModificar{{id_estudiante}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar modificación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro que desea modificar al estudiante?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="update/{{id_estudiante}}" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Eliminar-->
    <div class="modal fade" id="modalEliminar{{id_estudiante}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro que desea eliminar al estudiante?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="delete/{{id_estudiante}}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>