<div class="container">
    <center><h3>Listado de notas</h3></center>
    <div class="row"> 
        <div class="col-sm-2">
            <h5>Id</h5>
        </div>
        <div class="col-sm-2">
            <h5>Docente</h5>
        </div>
        <div class="col-sm-2">
            <h5>Estudiante</h5>
        </div>
        <div class="col-sm-2">
            <h5>Materia</h5>
        </div>
        <div class="col-sm-2">
            <h5>Periodo</h5>
        </div>
        <div class="col-sm-2">
            <h5>Nota</h5>
        </div>
    </div>
    {{#each user}}
    <div class="row">
        <div class="col-sm-2"> 
            {{id_nota}}
        </div>
        <div class="col-sm-2"> 
            {{id_docente}}
        </div>
        <div class="col-sm-2"> 
            {{id_estudiante}}
        </div>
        <div class="col-sm-2"> 
            {{id_materia}}
        </div>
        <div class="col-sm-2"> 
            {{id_periodo}}
        </div>
        <div class="col-sm-2"> 
            {{nota}}
        </div>
    </div>
    {{/each}}
</div> 
<center><a href="/notas/agregar" class="btn btn-primary">Registrar</a></center>