<div class="container">
    <center><h3>Listado de notas</h3></center>
    <div class="row">
        <a href="/notas/agregar" class="btn btn-success">Registrar</a>
    </div>
    <div class="row"> 
        <div class="col-sm-2">
            <h5>Docente</h5>
        </div>
        <div class="col-sm-2">
            <h5>Estudiante</h5>
        </div>
        <div class="col-sm-2">
            <h5>Materia</h5>
        </div>
        <div class="col-sm-2">
            <h5>Periodo</h5>
        </div>
        <div class="col-sm-2">
            <h5>Nota</h5>
        </div>
    </div>
    {{#each consultaNota}}
    <div class="row">
        <div class="col-sm-2"> 
            {{nombre}}
        </div>
        <div class="col-sm-2"> 
            {{nombre}}
        </div>
        <div class="col-sm-2"> 
            {{materia}}
        </div>
        <div class="col-sm-2"> 
            {{periodo}}
        </div>
        <div class="col-sm-2"> 
            {{nota}}
        </div>
    </div>
    {{/each}}
</div> 
